<form name="form1" action="controllerForm" method="post">
    <label for="id">Nome</label><br>
    <input type="text" name="name" id="name" placeholder="Insira o nome"><br>
    <label for="age">Idade</label><br>
    <input type="number" name="age" id="age" placeholder="Insira a idade"><br>
    <input type="submit" value="Adicionar" id="btnSubmit" name="btnSubmit">
</form>